*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
Thumbs.db
ehthumbs.db
.DS_Store
.AppleDouble
.LSOverride
/nbproject/private/
/application/cache/
/application/logs/
/application/models/proxies/
/nbproject/
/like-fb/nbproject/private/
