*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
Thumbs.db
ehthumbs.db
.DS_Store
.AppleDouble
.LSOverride
/application/models/proxies/
/nbproject/
.idea/
*.iml
